:global(.light) {
  background: #fdf6e3;

  .container {
    background: #eee8d5;
    color: #93a1a1;
  }

  h1 {
    color: #d33682;
  }

  button {
    background: #268bd2;
    color: #fdf6e3;
  }
}
