html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button {
  all: unset;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}
