html,
body {
  height: 100%;
}

body {
  background: #fdf6e3;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.theme {
  background: #eee8d5;
  color: #93a1a1;

  h1 {
    color: #d33682;
  }

  button {
    all: unset;
    background: #268bd2;
    color: #fdf6e3;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
  }
}

:global(body.dark) {
  background: #002b36;
}

:global(.dark) .theme {
  background: #073642;
  color: #839496;

  button {
    background: #859900;
  }
}
