.container {
  composes: theme from 'src/styles/themes.scss';

  text-align: center;
  border-radius: 10px;
  width: 800px;
  margin: auto;
  transform: translateY(-100%);
  padding: 0.5rem 0 2rem 0;
  font-family: 'Calibri', 'Arial';
}

.controls {
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 1rem;
  max-width: 10rem;
}
